<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tweetlanes.android.beta"
    android:versionCode="8"
    android:versionName="1.2.1_b2">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-feature
        android:name="android.permission.CAMERA"
        android:required="false" />
    <!-- <uses-permission android:name="android.permission.READ_LOGS"/> -->

    <application
        android:name="com.tweetlanes.android.core.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/beta_launcher_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity android:name="com.tweetlanes.android.core.view.BootActivity" >
            <intent-filter android:label="@string/beta_launcher_name" >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter.com"
                    android:pathPattern="/.*/status/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mobile.twitter.com"
                    android:pathPattern="/.*/status/.*"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="alpha.app.net"
                    android:pathPattern="/.*/post/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.tweetlanes.android.core.view.NewAccountActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.tweetlanes.android.core.newaccount" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.HomeActivity"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.ProfileActivity"
            android:windowSoftInputMode="stateUnchanged" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.tweetlanes.android.core.profile" />
            </intent-filter>
        </activity>
        <activity android:name="com.tweetlanes.android.core.view.SearchActivity" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.tweetlanes.android.core.search" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.TweetSpotlightActivity"
            android:label="@string/app_tweet_spotlight_activity_name" >
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.ImageViewActivity"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.tweetlanes.android.core.mediaview" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.TutorialActivity"
            android:label="@string/tutorial_title"
            android:theme="@style/Theme.TweetLanes.Light" >
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.DirectMessageActivity"
            android:theme="@style/Theme.TweetLanes.Light" >
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.SettingsActivity"
            android:label="@string/title_settings" >
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.TwitterAuthActivity"
            android:noHistory="true"
            android:theme="@style/Theme.TweetLanes.Light" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="tweetlanes-auth-callback:///" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tweetlanes.android.core.view.AppDotNetAuthActivity"
            android:noHistory="true"
            android:theme="@style/Theme.TweetLanes.Light" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="appdotnet-auth-callback:///" />
            </intent-filter>
        </activity>

        <receiver android:name="com.tweetlanes.android.core.view.AlarmReceiver" />
        <receiver android:name="com.tweetlanes.android.core.view.DeleteNotificationsReceiver" />
        <receiver
            android:name="com.tweetlanes.android.core.view.DeviceBootReciever"
            android:enabled="true"
            android:exported="true"
            android:label="StartDeviceAlerts" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.tweetlanes.android.core.dashclock.TweetLanesExtension"
            android:label="@string/extension_title"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="description"
                android:value="@string/extension_description" />
        </service>

        <!-- Start of Crittercism.com Code -->
        <activity
            android:name="com.crittercism.NewFeedbackSpringboardActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.crittercism.NewFeedbackIssueListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.crittercism.NewFeedbackQuestionListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.crittercism.NewFeedbackItemDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.crittercism.NewFeedbackCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.crittercism.NotificationActivity"
            android:screenOrientation="portrait" />
        <!-- End of Crittercism.com Code -->

    </application>

</manifest>